* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #1a1a1e;
	color: rgba(245, 245, 245, 0.669);
}

.flex {
	display: flex;
}
.container {
	margin: 20px;
}

.input {
	display: flex;
	margin-bottom: 10px;
}
#input-btn {
	flex: 1;
	padding: 10px;
	margin-right: 10px;
	border-radius: 5px;
	border: none;
	background-color: #323239;
	color: white;
	outline: none;
}

#input-btn::placeholder {
	font-size: 17px;
}

#fetch {
	border: none;
	background-color: #3399a7;
	padding: 10px 15px;
	border-radius: 5px;
	color: rgba(245, 245, 245, 0.669);
	font-size: 17px;
	cursor: pointer;
}

.container p span {
	color: #3399a7;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px dotted #3399a7;
	margin: 20px 0;
	border-radius: 5px;
}

.heading {
	margin-top: 20px;
	font-size: 40px;
	color: whitesmoke;
}

.img {
	border: 2px dotted #3399a7;
	margin-top: 10px;
	height: 300px;
	width: 300px;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}

.headings {
	display: flex;
}

.headings div {
	margin: 10px;
	padding: 5px;
	font-size: 18px;
	color: whitesmoke;
	font-weight: bold;
	text-transform: uppercase;
}

.value {
	border-bottom: 2px dotted #3399a7;
	border-top: 2px dotted #3399a7;
	display: flex;
	width: 300px;

	margin-bottom: 20px;
}

.value div {
	flex: 1;
	font-size: 18px;
	color: whitesmoke;
	display: flex;
	justify-content: center;
	padding: 10px;
}
